* {
    box-sizing: border-box;
  }
  
  *:focus {
    box-shadow: none;
  }
  
  body, html {
    color: #444444;
    font-size: 16px;
    line-height: 1.7;
    margin: 0;
    height: 100%;
    font-family: 'Karla', sans-serif;
  }
  
  a, a:hover {
    text-decoration: none;
    font-size: 18px;
    color: rgb(109, 218, 145);
    font-family: monospace;
    
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  section {
    padding: 60px 0;
  }
  
  .container {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .navigation
  {
    background-color: rgb(70, 70, 70);
    border-bottom: 1px solid rgb(109, 218, 145);
    padding: 2px ;
    text-align: right;
    position: fixed;
    width: 100%;
    z-index: 9999;
    text-align: right;
    font-family: monospace;
  }

  .navigation ul
  {
    padding: 0;
    margin: 0;
  }

  .navigation ul li
  {
    display: inline-block;
    margin-right: 18px;
    transition: all 0.5s;
  }

  .navigation ul li a
  {
    font-size: 12px;
    padding: 5px;
    color: white;
    transition: all 0.5s;
  }

  .navigation ul li a:hover
  {
    color: rgb(109, 218, 145);
    border-radius: 50px;
    font-weight: bold;
  }

  .splash {
    position: relative;
    display: flex;
    height: 100vh;
    flex-direction: column;
    padding: 0 3px;
    background-image: url('splash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
  }

  .page-intro {
    margin-top: 30vh;
    text-align: center;
  }
  
  .main-title {
    margin: 0;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 80px;
    font-weight: bold;
    padding: 0, 10px;
    background-color: rgba(248, 248, 248, 0.336);
    font-family: monospace;
    color: white
  }
  
  .main-subtitle {
    margin: 0;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: normal;
    color: white;
    font-family: monospace;
  }

  .btn 
  {
    padding: 18px 24px 18px 24px;
    font-size: 14px;
    background-color: rgb(109, 218, 145);
    color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 4px 10px grey;
    transition: all 0.5s;
  }
  
  
  .btn:hover 
  {
    background-color:rgb(109, 218, 145);
    color: #ffffff;  
    font-size: 14px;
    font-weight: bold;
    box-shadow: none;
    padding: 15px 21px 15px 21px;
  }

  .section-title
  {
    font-family: 'Righteous', cursive;
    color: rgb(0, 162, 232);
    position: relative;
    margin: 0 0 60px 0;
    text-align: center;
  }

  .feature-title
  {
    font-family: 'Baloo Bhaina 2', cursive;
    color: rgb(0, 163, 233);
  
  }

  .feature-description
  {
    font-family: 'Karla', sans-serif;
    margin: 24px 15px 0 15px;
    padding: 0, 24px;
  }

  .section-intro
  {
    font-family: 'Karla', sans-serif;
    margin: 36px 0 0 0;
  }

  .section-title:after {
    position: absolute;
    display: block;
    content: '';
    width: 50px;
    height: 5px;
    background: rgb(0, 162, 232);
    left: 50%;
    bottom: -16px;
    margin-left: -25px;  
  }

  .about
  {
    background-color: rgb(231, 229, 229);

  }

  .features-wrapper
  {
    display: flex;
  }

  .feature {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    max-height: 40%;
    text-align: center;
    margin: 24px 0 0 0;
  } 

  .future i{
  width: 100px;
  height: 100px;
  line-height: 100px;
  }

  .statement
  {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }

  .statement p
  {
    font-family: monospace;
    font-size: 105px;
    font-weight: 900;
    margin-top: 0;
    text-align: center;
    letter-spacing: 3px;
    color: white;
    text-shadow: rgb(163, 163, 163);
  }

  .quotes
  {
    background-image: url(gbck.png);
  }

  .quotes-wrapper
  {
    margin: 72px 0 0 0;
  }

  .quote
  {
    margin-top: 60px;
  }

  .quote blockquote
  {
    padding: 0 36px;
  }

  .quote footer
  {
    margin: 16px 0 0 0;
    font-family: 'Indie Flower', cursive;
    color: rgb(90, 209, 130);
  }

  .quote q
  {
    font-family: 'Karla', sans-serif;
  }

  .section.galler
  {
    padding: 60px 0 0 0;
  }

  .gallery-wrapper
  {
    display: flex;
    flex-wrap: wrap;
    margin: 72px 0 0 0;
  }

  .gallery-item
  {
    position: relative;
    margin: 0;
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
  }

  .gallery-item img
  {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .gallery-item:before 
  {
    position: absolute;
    display: none;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
  }

  .gallery-item figcaption
  {
    position: absolute;
    display: none;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    color:white;
    font-size: 21px;
  }

  .gallery-item:hover:before, .gallery-item:hover figcaption 
  {
    display: block;
  }

  .contact
  {
    text-align: center;
  }

  .social-links
  {
    list-style-type: none;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .social-links li
  {
    display: inline-flex;
    border: 2px dashed rgb(0, 162, 232);
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-right: 30px;
    line-height: 100px;
    border-radius: 50%;
    transition: all 1s;
  }

  .social-links li a
  {
    display: block;
    width: 100%;
    height: 100%;
    transition: all 1s;
  }

  .social-links li:first-child:hover
  {
    border: 3px solid #29487d;
    color: white;
  }

   .social-links li:nth-child(2):hover
  {
    border: 3px solid #1da1f2;
  }

   .social-links li:nth-child(3):hover
  {
    border: 3px solid #333;
    
  }

  .page-footer
  {
    background-color:  rgb(70, 70, 70);
    padding: 12px 0;
    text-align: center;
    font-size: 18px;
    color: white;
    border-top: 2px solid rgb(109, 218, 145);
  }

